[Unit]
Description=ico device input controller
Requires=weston.service
After=weston.service

[Service]
#Environment=XDG_RUNTIME_DIR=/run/user/5000
Type=oneshot
ExecStart=/usr/bin/ico_dic-gtforce -d

